#map {
        height: 87%;
        width: 100%;
      }

#selection {
  width:20%;
}

.hover-button {
    opacity: 0.5;
    background-color: #ffffff;
    
}

.hover-button:hover {
    opacity: 1;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


      .bg-dark {
        background-color: #0062cc!important;
    }